.sidebar1 {
  float: left;
  width: 470px
}

.chat {
  float: left;
  width: 1;
  background: #1c1c1c;
}

#banner {
  position: absolute;
  top: 0px;
  left: 0px; 

  margin: 0 auto;
  text-align: center;
}

#banner_contents {
  width: 500px;
}